@font-face {
  font-family: 'MuseoSansCnd';
  font-style: normal;
  font-weight: 300;
  src: local('MuseoSansCnd'), local('MuseoSansCnd-300'), url(http://eventservices.penton.com/events/2014/ExpoWest/fonts/museosanscnd300.woff) format('woff');
}
@font-face {
  font-family: 'MuseoSansCnd';
  font-style: normal;
  font-weight: 500;
  src: local('MuseoSansCnd'), local('MuseoSansCnd-500'), url(http://eventservices.penton.com/events/2014/ExpoWest/fonts/museosanscnd500.woff) format('woff');
}
